h1 {
    font-family: 'Poppins', sans-serif;
}

.orange {
    color: orange;
}

section {
    display: flex;
}

.width-half {
    width: 50%;
}

.width-half img {
    width: 80%;
}

div {
    padding-left: 20px;
    ;
}

.aknoyon {
    text-align: justify;
}

a {
    text-decoration: none;
    background-image: -moz-linear-gradient(orange, tomato);
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.n2 {
    height: auto;
    width: 100px;
}

.top-banner {
    background-image: url(site1.png);
    background-repeat: no-repeat;
    background-position: left;
}